{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
                // "targets": {
                //     "browsers": ["ie >=9"]
                // },
                // "useBuiltIns": "usage",
                // "debug": true
            }
        ]
    ],
    "plugins": ["@babel/transform-runtime"]
}
